body {
    margin-top: 40px;
}

.container {
    /*width: 600px;*/
    display: flex;
    flex-wrap: wrap;
}

#square {
    width: 100px;
    height: 100px;
    background: grey;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#square2 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.inp, .inpS {
    display: block;
    padding: 6px 9px 6px 5px;
    border-radius: 6px;
    margin: 5px;
}

.widthInp::placeholder {
    position: relative;
    left: 10px;
}

.inpS {
    margin-top: 10px;
}

#inp3, #inp2 {
    /*width: 30px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    /*position: absolute;*/
    /*top: -35px;*/
    /*left: 10px;*/
}

.par {
    margin-right: 20px;
    margin-left: 20px;
}

/*.par:last-child {*/
/*    margin-left: 0;*/
/*}*/
.par:nth-child(4) {
    margin-right: 0;
}

#wrapper {
    display: flex;
    align-items: center;
    margin-right:  40px;
}


.inpWrap {
    width: 296px;
    display: flex;
    flex-direction: column;
}

.btn2, .rectangleBtn2 {
    margin-top: 46px;
}

sup {
    font-size: 10px;
    margin-bottom: 9px;
}

#rectangle {
    width: 120px;
    height: 80px;
    border: 1px solid green;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper2 {
    /*margin-top: 30px;*/
    /*margin-right: 78px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectanglePl {
    display: flex;
    /*position: relative;*/
}

.widthInp {
    width: 40px;
    margin-right: 10px;
}

.inpWrap2 {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

#wrapper3 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:  40px;
}

#circle {
    width: 100px;
    height: 100px;
    border: 3px solid yellow;
    background: yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper4 {
    margin-top: 30px;
    /*margin-right: 78px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangleInp {
    width: 61px;
}

.triangleInpWrap {
    flex-direction: row;
    margin-right: 70px;
}

.triangleLabel {
    margin-right: 16px;
}

#triangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #f95959;
}

.text {
    position: relative;
    top: 61px;
    text-align: center;
}

.squareText span {
    font-size: 18px;
}
.square {
    padding: 10px;
    border: 2px solid green;
    width: 440px;
    margin-right: 120px;
}
#a,#b,#c {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
}

#squareRes {
    display: none;
    text-align: center;
}

pre {
    margin: auto 20px;
    padding: 10px;
    background: #8ca5cf;
    border: 1px solid black;
    font-size: 16px;
}

input[type = 'submit'], input[type = 'button'] {
    background: #8ca5cf;
    border: 2px solid #8ca5cf;
    border-radius: 6px;
    padding: 6px;
}
input[type = 'submit']:hover, input[type = 'button']:hover{
    opacity: 0.8;
}

input[type = 'number'] {
    border: 1px solid darkseagreen;
}

#squareForm input[type = 'submit'] {
    margin-left: 15px;
}
.Pythagoras {
    padding: 10px;
    border: 2px solid green;
}
#x,#y,#z {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
}

.pythForm sup {
    position: relative;
    top: -8px;
}
.pythagorasResult {
    display: none;
}
.pythagorasResult h2 {
    text-align: center;
}
#pythRes {
    text-align: center;
}

.divider {
    padding: 10px;
    border: 2px solid green;
    margin-left: 160px;
    margin-right: 40px;
}

#inpDivider {
    width: 190px;
    padding: 5px;
    border-radius: 5px;
}

.isDivider {
    padding: 10px;
    border: 2px solid green;
    margin-top: 40px;
}

.dividerResult, .isDividerResult {
    text-align: center;
    display: none;
}

#isInpDivider, #isInpDivider2 {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.games {
    padding: 10px;
    border: 2px solid green;
    margin-left: 40px;
    margin-top: 40px;
}

#peopleInp {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 40px;
}

.people {
    margin-top: 10px;
}

.number {
    width: 60px;
    height: 60px;
    border: 2px solid red;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: green;
}

.computer, .people {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    text-align: center;
}

.numRes {
    display: none;
}
.result {
    display: none;
}

.gamesCell {
    padding: 10px;
    border: 2px solid green;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
}

.isTable {
    border: 1px solid black;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid green;
}

#cellBtn {
    margin-bottom: 10px;
}

.test {
    background: none;
}

.test:hover {
    opacity: 0.8;
}

.test2 {
    background: red;
}

.test3 {
    background: #0e751f;
}
.time {
    font-size: 26px;
    color: blue;
}

.red {
    color: red;
}

#reset {
    display: none;
    margin: 10px auto;
}
.keyboardWrapp {
    margin-top: 40px;
}
.keyboard {
    margin-top: 20px;
    width: 720px;
    height: 225px;
    display: flex;
    flex-wrap: wrap;
}
.key {
    width: 40px;
    height: 40px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
    border-radius: 9px;
    margin-right: 4px;
    cursor: pointer;
}

.key:hover {
    opacity: 0.8;
}

.Backspace, .CapsLock, .shift, .Enter, .Ctrl {
    width: 120px;
}

.space {
    width: 450px;
}

.margin {
    margin-left: 80px;
}

.margin2 {
    margin-right: 30px;
}
.slash {
    width: 60px;
}

.uppercase {
    text-transform: uppercase;
}

.greyColor {
    background-color: grey;
}
.addShift {
    display: none;
}
.isSift2 {
    display: none;
}

#keyText {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid green;
    padding-left: 20px;
}

.list {
    display: flex;
}

.calendar, .calendar2 {
    text-align: center;
}

.list li {
    list-style: none;
    margin: 2px;
    padding: 5px;
    border: 1px solid grey;
}

.wrapperHeight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowRight {
    margin-left: 10px;
    cursor: pointer;
}.arrowLeft {
    margin-right: 10px;
    cursor: pointer;
}

 .bgList {
     background: red;
 }
 .test10 {
     display: none;
 }

 .list2 {
     display: flex;
 }


.list2 li {
    list-style: none;
    margin: 2px;
    padding: 5px;
    border: 1px solid grey;
}

