body {
    background-color: #d9d9d9;
}
#input, #list {
    display: inline-block;
}
#list {
    padding: 0;
    list-style-type: none;
    width: 300px;
}
#list span {
    margin-right: 5px;
}
#list .remove, #list .mark {
    color: blue;
    cursor: pointer;
}
#list .remove:hover, #list .mark:hover {
    text-decoration: underline;
}
#list .done {
    text-decoration: line-through;
}

.head {
    display: none;
}

.add {
    display: none;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1, .btn2 {
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    background-color: #8f8fc2;
}

